<footer class="container-fluid mt-5 py-5" style="background: url(/img/bg/bg.jpg) no-repeat fixed;background-size: cover">
	<div class="container">

		<div class="row text-white rounded-5 shadow" style="background-color: rgba(0,0,0,0.5)">
			<div class="col-12 col-lg-6 mb-2 d-flex align-items-center">
				<div>
					<p class="fs-2 m-0">TicketTrace</p>
					<p class="fs-6 m-0">
						Приобретайте билеты на захватывающие гоночные мероприятия легко и быстро! Мы предлагаем удобный процесс покупки и конкурентоспособные цены. Не упустите возможность стать частью захватывающего мира автогонок — покупайте билеты уже сегодня!
					</p>
				</div>
			</div>
			<div class="col-12 col-lg-6 mb-2 d-flex align-items-center justify-content-center">
				<div>
					<p class="fs-4 m-0">Полезные ссылки</p>
					<p class="fs-5 m-0"><a href="/" class="link-light">О нас</a></p>
					<p class="fs-5 m-0"><a href="/races" class="link-light">Гонки</a></p>
					<p class="fs-5 m-0"><a href="/tracks" class="link-light">Трассы</a></p>
				</div>
			</div>
<!--			<div class="col-12 col-lg-4 mb-2 d-flex align-items-center">-->
<!--				<div>-->
<!--					<p class="fs-3 m-0">Уведомление о гонках</p>-->
<!--					<p class="fs-6 m-0">-->
<!--						Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
<!--					</p>-->
<!--					<input type="email" class="form-control my-2" placeholder="Электронная почта">-->
<!--					<button type="button" class="btn btn-outline-light w-100">Подписаться</button>-->
<!--				</div>-->
<!--			</div>-->
			<div class="col-12">
				<div class="border-top border-5 mt-2 py-2">
					<p class="text-center fs-4">TicketTrace</p>
				</div>
			</div>
		</div>

	</div>
</footer>
