<div class="container-fluid py-5"
	 style="background: url(/img/bg/bg.jpg) no-repeat fixed;background-size: cover;height: 500px">
	<div class="container h-100 d-flex align-items-center">
		<div class="text-white">
			<h1 class="mb-5" data-aos="fade-up">Ошибка</h1>
		</div>
	</div>
</div>

<div class="container mt-5">

	<div class="row d-flex justify-content-center" data-aos="fade-up">
		<div class="col-12 col-lg-6 alert alert-warning text-center" role="alert">
			<p class="fs-4 m-0">
				@if (message) {
					{{ message }}
				} @else {
					Страница не найдена
				}
			</p>
		</div>
	</div>

</div>
