<div class="container-fluid p-0">

	<div id="carouselExampleCaptions" class="carousel slide shadow" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
					class="active bg-white"
					aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
					class="bg-white"
					aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
					class="bg-white"
					aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="/img/carousel/1.jpg" class="d-block w-100 object-fit-cover" height="700" alt="carousel">
				<div class="carousel-caption d-none d-md-block rounded-5 shadow"
					 style="background-color: rgba(0,0,0,0.5)">
					<a href="/races" class="link-light">
						<h1 class="mb-5">ГОНКИ НА ВЫЖИВАНИЕ</h1>
					</a>
					<p class="fs-4 mt-5">
						Для настоящих любителей экстрима — гонки на выживание! Здесь важно не только быть быстрым, но и уметь обойти соперников, избегая столкновений. Стань героем арены, где побеждают только самые выносливые и смелые. Готов ли ты испытать свою решимость?
					</p>
				</div>
			</div>
			<div class="carousel-item">
				<img src="/img/carousel/2.jpg" class="d-block w-100 object-fit-cover" height="700" alt="carousel">
				<div class="carousel-caption d-none d-md-block rounded-5 shadow"
					 style="background-color: rgba(0,0,0,0.5)">
					<a href="/races" class="link-light">
						<h1 class="mb-5">ДРАГРЕЙСИНГ</h1>
					</a>
					<p class="fs-4 mt-5">
						Ощути настоящий адреналин с драгрейсингом — соревнованиями на максимальной скорости по прямой! Здесь важна каждая секунда, а мощность твоего автомобиля и реакция водителя решают всё. Испытай себя и свою технику в захватывающей гонке, где каждое мгновение на счету.
					</p>
				</div>
			</div>
			<div class="carousel-item">
				<img src="/img/carousel/3.jpg" class="d-block w-100 object-fit-cover" height="700" alt="carousel">
				<div class="carousel-caption d-none d-md-block rounded-5 shadow"
					 style="background-color: rgba(0,0,0,0.5)">
					<a href="/races" class="link-light">
						<h1 class="mb-5">НОЧНЫЕ ГОНКИ</h1>
					</a>
					<p class="fs-4 mt-5">
						Тайна ночи и рев моторов — это ночные заезды, которые подарят незабываемую атмосферу скорости и драйва. Присоединяйся к уникальному событию, где скорость встречается с романтикой ночных дорог. Свет фар, рев двигателей и дух соревнований ждут тебя!
					</p>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
				data-bs-slide="prev">
			<span class="visually-hidden">Предыдущий</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
				data-bs-slide="next">
			<span class="visually-hidden">Следующий</span>
		</button>
	</div>

</div>

<div class="container my-5">
	<div class="row">
		<div class="col-12 col-lg-6 mb-3 d-flex align-items-center" data-aos="fade-up">
			<div>
				<p class="fs-3 m-0 text-end">
					ГРАНТ-ПРИ МОНАКО
				</p>
				<p class="fs-5 m-0 text-end">
					Гран-при Монако – это не просто гонка, а поединок между человеком и городом. Узкие улочки, древние каменные стены и ослепительное лазурное море создают декорации для дуэли на грани возможного. Здесь каждая ошибка стоит слишком дорого – бордюр не прощает промахов, а миллиметры решают судьбу чемпионов. Это не автоспорт, это балет на скорости 300 км/ч, где рев моторов сливается с шумом роскошных яхт и аплодисментами зрителей.
				</p>
				<a href="/races" class="btn btn-dark mt-2 w-100">Подробнее о гонках</a>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-3 d-flex align-items-center" data-aos="fade-up">
			<img src="/img/about/1.jpg" alt="about" class="w-100 object-fit-cover rounded shadow" height="400">
		</div>
		<div class="col-12 col-lg-6 mb-3 d-flex align-items-center" data-aos="fade-up">
			<img src="/img/about/2.jpg" alt="about" class="w-100 object-fit-cover rounded shadow" height="400">
		</div>
		<div class="col-12 col-lg-6 mb-3 d-flex align-items-center" data-aos="fade-up">
			<div>
				<p class="fs-3 m-0">
					24 ЧАСА ЛЕ-МАНА
				</p>
				<p class="fs-5 m-0">
					Ле-Ман – это битва времени и машин, где сутки растягиваются в вечность. Когда солнце садится за горизонтом, трасса превращается в адреналиновую пьесу, написанную из звуков скрежета шин и света фар. Каждая команда – это алхимики нового времени, пытающиеся превратить топливо в победу, а секунды – в вечную славу. Здесь побеждают не только самые быстрые, но и самые стойкие, те, кто готов бросить вызов ночи и усталости.
				</p>
				<a href="/races" class="btn btn-dark mt-2 w-100">Подробнее о гонках</a>
			</div>
		</div>

		<div class="col-12 col-lg-6 mb-3 d-flex align-items-center" data-aos="fade-up">
			<div>
				<p class="fs-3 m-0 text-end">
					СУПЕРКУБОК ФОРМУЛЫ 1
				</p>
				<p class="fs-5 m-0 text-end">
					Суперкубок Формулы 1 – это фантазия, воплощенная в реальность. Это событие, где встречаются лучшие из лучших, чтобы определить абсолютного чемпиона. Представьте: трек, созданный специально для этого дня, совмещающий элементы самых легендарных трасс мира – от поворота Eau Rouge до шпильки в Монако. Это гонка мечты, где технологии завтрашнего дня сталкиваются с амбициями сегодняшних героев. Суперкубок – это Формула 1 в своей самой чистой, безудержной и вдохновляющей форме.
				</p>
				<a href="/races" class="btn btn-dark mt-2 w-100">Подробнее о гонках</a>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-3 d-flex align-items-center" data-aos="fade-up">
			<img src="/img/about/3.jpg" alt="about" class="w-100 object-fit-cover rounded shadow" height="400">
		</div>
	</div>

</div>

<!--<div class="container-fluid" style="background: url(/img/bg/bg1.jpg) no-repeat fixed;background-size: cover;">-->
<!--	<div class="container my-5 py-5">-->
<!--		<div class="row d-flex justify-content-center">-->
<!--			<div class="col-12 col-lg-3 mb-2" data-aos="fade-up" data-aos-delay="300">-->
<!--				<div class="card card-body shadow">-->
<!--					<img src="/img/ach/1.png" alt="ach" class="w-100">-->
<!--					<p class="fs-5 m-0 text-center">Победители соревнований</p>-->
<!--					<p class="fs-6 m-0" align="justify">-->
<!--						Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
<!--					</p>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-12 col-lg-3 mb-2" data-aos="fade-up" data-aos-delay="500">-->
<!--				<div class="card card-body shadow">-->
<!--					<img src="/img/ach/2.png" alt="ach" class="w-100">-->
<!--					<p class="fs-5 m-0 text-center">Интересные маршруты</p>-->
<!--					<p class="fs-6 m-0" align="justify">-->
<!--						Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
<!--					</p>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-12 col-lg-3 mb-2" data-aos="fade-up" data-aos-delay="700">-->
<!--				<div class="card card-body shadow">-->
<!--					<img src="/img/ach/3.png" alt="ach" class="w-100">-->
<!--					<p class="fs-5 m-0 text-center">Скорость без границ</p>-->
<!--					<p class="fs-6 m-0" align="justify">-->
<!--						Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
<!--					</p>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->

<!--<div class="container my-5">-->
<!--	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75252.68666033309!2d27.510968627109335!3d53.88471296974388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfd35b1e6ad3%3A0xb61b853ddb570d9!2z0JzQuNC90YHQuiwg0JzQuNC90YHQutCw0Y8g0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sby!4v1726986316652!5m2!1sru!2sby"-->
<!--			class="w-100 border rounded shadow" height="500" loading="lazy" data-aos="fade-up"></iframe>-->
<!--</div>-->

<div class="container-fluid" style="background: url(/img/bg/bg.jpg) no-repeat fixed;background-size: cover;">
	<div class="container py-5 my-5">

		<div class="card card-body my-3 rounded-3" data-aos="fade-up">
			<h2 class="m-0 text-center">САМЫЕ БЫСТРЫЕ АВТОМОБИЛИ НА ПРЕДСТОЯЩИХ <a href="/races" class="link-dark">ГОНКАХ</a></h2>
		</div>

		<div class="row">
			<div class="col-12 col-lg-6 mb-3 d-flex align-items-center" data-aos="fade-up" data-aos-delay="500">
				<div class="card rounded-3 shadow">
					<div class="card-header p-0 rounded-3">
						<img src="/img/about/4.jpg" alt="bout" class="w-100 object-fit-cover rounded-3 shadow"
							 height="300">
					</div>
					<div class="card-body">
						<p class="fs-4 mb-2 text-center">Koenigsegg Gemera</p>
						<p class="fs-6 m-0 text-center">
							Koenigsegg Gemera стала новым лидером скорости. С мощностью 1700 л.с. и рекордной динамикой, этот гиперкар объединяет комфорт и невероятный разгон, устанавливая новый стандарт в мире автомобилей.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6 mb-3 d-flex align-items-center" data-aos="fade-up" data-aos-delay="750">
				<div class="card rounded-3 shadow">
					<div class="card-header p-0 rounded-3">
						<img src="/img/about/5.jpg" alt="bout" class="w-100 object-fit-cover rounded-3 shadow"
							 height="300">
					</div>
					<div class="card-body">
						<p class="fs-4 mb-2 text-center">Bugatti Chiron Sport 300+</p>
						<p class="fs-6 m-0 text-center">
							Bugatti Chiron Sport 300+ — легенда гиперкаров, преодолевшая барьер 300 миль в час (490 км/ч). Это самый быстрый автомобиль, в котором мощь 1600 л.с. сочетается с непревзойденной аэродинамикой.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6 mb-3 d-flex align-items-center" data-aos="fade-up" data-aos-delay="1250">
				<div class="card rounded-3 shadow">
					<div class="card-header p-0 rounded-3">
						<img src="/img/about/6.jpg" alt="bout" class="w-100 object-fit-cover rounded-3 shadow"
							 height="300">
					</div>
					<div class="card-body">
						<p class="fs-4 mb-2 text-center">Hennessey Venom F5</p>
						<p class="fs-6 m-0 text-center">
							Hennessey Venom F5 — стремительный американец, который готов побить любые рекорды. 1817 л.с. и заявленная скорость более 500 км/ч делают его претендентом на титул быстрейшего автомобиля планеты.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6 mb-3 d-flex align-items-center" data-aos="fade-up" data-aos-delay="1000">
				<div class="card rounded-3 shadow">
					<div class="card-header p-0 rounded-3">
						<img src="/img/about/7.jpg" alt="bout" class="w-100 object-fit-cover rounded-3 shadow"
							 height="300">
					</div>
					<div class="card-body">
						<p class="fs-4 mb-2 text-center">Aston Martin Valkyrie</p>
						<p class="fs-6 m-0 text-center">
							Aston Martin Valkyrie — технологический шедевр, вдохновленный Формулой-1. Этот гиперкар, оснащенный двигателем V12, дарит впечатления, сравнимые с гонками на предельной скорости.
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!--<div class="container-fluid my-5">-->

<!--	<p class="fs-2 my-3 text-center" data-aos="fade-up">-->
<!--		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eligendi explicabo fugit quae ratione-->
<!--		repellendus. Corporis culpa ducimus eius est, impedit optio tempore totam. Dolor enim libero modi repudiandae-->
<!--		sequi.-->
<!--	</p>-->

<!--</div>-->
