<div class="container mt-5" data-aos="fade-up">

	<button type="button" class="btn btn-dark w-100 mb-2" (click)="generatePDF()">
		Сформировать отчет топ-5 по проданным билетам
	</button>

	<div class="p-2" id="pdf">

		<apx-chart
			[series]="chartOptions.series"
			[chart]="chartOptions.chart"
			[dataLabels]="chartOptions.dataLabels"
			[plotOptions]="chartOptions.plotOptions"
			[yaxis]="chartOptions.yaxis"
			[xaxis]="chartOptions.xaxis"
			[legend]="chartOptions.legend"
			[colors]="chartOptions.colors"
			[grid]="chartOptions.grid"
		></apx-chart>

		<table id="excel" class="table table-hover fs-5">
			<thead>
			<tr>
				<th scope="col">Наименование</th>
				<th scope="col">Продано билетов</th>
			</tr>
			</thead>
			<tbody>
				@for (i of racesSorted; track i.id) {
					<tr>
						<th scope="row">{{ i.name }}</th>
						<td>{{ i.busy }}</td>
					</tr>
				}
			</tbody>
		</table>

	</div>

</div>
